* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

[class*="col-"], [class*="col_"], [class~="col"] {
    padding: 1rem;
  }

.padded { padding: 5%; }
.padded-1 { padding: 1rem; }
.padded-2 { padding: 1rem; }
.padded-lg { padding: 10%; }

.bg-featured { background-color: #1C2A2C;}
.bg-dark { background-color: #242828;}

.light-text { color: white; }

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

/* typography */

body {
    font-family: 'Raleway', sans-serif;
    max-width: 1200px;
    margin: auto;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 7rem; 
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.8rem;
    font-weight: 400;
}

.subtle {
    opacity: 80%;
    font-size: 00.75rem;
}

.margin-b-0 {margin-bottom: 0;}

p, li {
    font-weight: 300;   
    line-height: 1.4;
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
   }

p:last-child, li:last-child { margin-bottom: 0; }

a { color: inherit; }

nav a { text-decoration: none; }

a:hover { color: #4e91ad; }

.fab {
    font-size: 1.5rem;
    padding-left: 1rem;
}

/* footer styles */
footer h2 {
    font-size: 3rem; 
    line-height: 2.5rem;
}

footer p {
    margin-bottom: 0.2rem;
    font-size: 0.75rem;
}

/* Background Images */

.bg-image {
    background-color: #24282B; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-image: url('/images/the-bunker-1.jpg');
}

.bg-roof {
    background-image: url('/images/the-bunker-5.jpg');
}
.bg-bed {
    background-image: url('/images/the-bunker-1.jpg');
}
.bg-hallway {
    background-image: url('/images/the-bunker-3.jpg');
}
.bg-lounge {
    background-image: url('/images/the-bunker-4.jpg');
}
.bg-lounge-2 {
    background-image: url('/images/the-bunker-2.jpg');
}
.bg-sheets {
    background-image: url('/images/the-bunker-7.jpg');
}
.bg-map {
    background-image: url('/images/the-bunker-6.png');
}

.bg-padded {
    padding-bottom: 30%;
}

.social-banner {
    background-position: 50% 20%;
}

.tall-50 { min-height: 50vh; }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }

/* Media Queries */
@media (max-width: 48em) {
    .hide-sm { display: none; }
    .flex-flip-sm { flex-direction: column-reverse; }

    h1 { font-size: 4rem; }

    footer h2 { font-size: 3rem; }

    .social-banner {
        background-image: none; 
        background-color: #1C2A2C;
        min-height: 30vh;
    }

}
